.navLinks {
  margin-bottom: 10px;
}

.navLinks a {
  text-decoration: none;
}

.navLinks p {
  color: lightgray;
}

.navLink__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  padding: 0.7em 0;
  color: black;
}

.navLink__active {
  color: rgba(254, 44, 85, 1);
}
