.phoneDetails__signUp {
  width: 100%;
}

.birthdaySelectContainer {
  width: 100%;
  display: flex;
  gap: 1em;
  height: 45px;
}

.birthdaySelectContainer select {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: rgba(211, 211, 211, 0.282);
  border-radius: 5px;
  padding: 0.1em;
  font-size: 15px;
  cursor: pointer;
  color: grey;
}

.birthdaySelectContainer select option {
  background-color: white;
  max-height: 5px;
  color: black;
}

.birthdaySelectContainer select option:hover {
  background-color: rgba(211, 211, 211, 0.282);
}

.publicityInfo {
  margin: 5px 0;
  font-size: 13px;
  color: grey;
}
